<div class = "footer">
  <div class = "social-media">
    <div class="list-inline">
      <ul class = "social-links">
      <li><a href="#"><i class="fab fa-facebook-square"></i></a></i></li>
      <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
      </ul>
    </div>

  </div>

  <divclass = "imprint" ></div>

</div>
