<div class="about-container">
  <div class="about-title">
    <h1> Who is Pixie? </h1>
  </div>

<div class="wrapper">
  <div class="picture-overlay">

  <%=cl_image_tag("sample",
        width: 300, height: 300, crop: :fill) %>
  </div>

  <div class="text-description">

  <p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Esse atque veniam nesciunt quis placeat voluptate odio, non possimus commodi ipsam laudantium, dolorem officiis aspernatur asperiores! Odio earum numquam blanditiis assumenda.</p>
  </div>

</div>

</div>
