.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
width: 64px;
height: 64px;
border-radius: 50%;
}

.nav-item {
  font-size: 24px;
  font-family: 'Permanent Marker', cursive;
}

.navbar-nav .nav-link {
  margin-right: 32px;
}
